<%- include("./partials/header") -%>

<form action="/list/create" method="post">
    <h1 class='heading'>Create a new List</h1>
    <h4>New List name</h4>
    <input type="text" name="listName" placeholder="List name">
    <button type = "submit" class="add" > +</button>
</form>

<%- include("./partials/footer") -%>