<%- include("./partials/header") -%>
<h2>Go to my lists</h2>
<form action="/list" >
    <button type = "submit" class="btn btn-secondary"> 
        My Lists
    </button>
</form>
<%- include("./partials/footer") -%>
